html, body {
    height: 100%;
    background: #eee;
}

#main-app-area {
    height: 100%;
}

.app-container {
    padding: 20px 40px;
    max-width: 460px;
    min-height: 100%;
    background: #fff;
}

.title {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

h1, h2, h3, h4 {
    font-weight: 300;
    letter-spacing: 0.1em;
}

.input-group-btn.floating {
    display: block;
}

.todo-item {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.todo-item input[type=checkbox] {
    padding: 10px;
    transform: scale(1.75);
}

.todo-item .description {
    display: inline-block;
    padding: 0 16px;
}

.todo-item .controls {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    transition: opacity 100ms;
}

.todo-item:hover .controls {
    opacity: 1;
}

.todo-item.completed .description {
    text-decoration: line-through;
    color: gray;
}